name: Flutter APK Build
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Flutter project init
        run: |
          if [ ! -d "android" ]; then
            flutter create . --platforms=android --project-name=tabletkalem
          fi

      - run: flutter pub get
      - run: flutter build apk --release --split-per-abi

      - uses: actions/upload-artifact@v4
        with:
          name: TabletKalem-APK
          path: build/app/outputs/flutter-apk/*.apk
