name: Flutter APK Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - run: |
          if [ ! -d "android" ]; then
            flutter create . --platforms=android --project-name=tabletkalem
          fi
          
          # SİYAH EKRANI DELEN KOMUT (BALYOZ)
          # Bu satır Android'in kendi ayarlarını "Şeffaf Ol" diye değiştirir.
          sed -i 's/android:theme="@style\/LaunchTheme"/android:theme="@android:style\/Theme.Translucent.NoTitleBar"/' android/app/src/main/AndroidManifest.xml
          
          flutter pub add system_alert_window
          flutter pub get
        
      - run: flutter build apk --release --split-per-abi

      - name: APK'yı Kaydet
        uses: actions/upload-artifact@v4
        with:
          name: TabletKalem-APK
          path: build/app/outputs/flutter-apk/*.apk
