name: Flutter APK Build
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      # Android + Manifest garanti
      - name: Ensure Android & Manifest
        run: |
          if [ ! -d "android" ]; then
            flutter create . --platforms=android
          fi

          sed -i '/<manifest/a\<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>' android/app/src/main/AndroidManifest.xml || true

      - name: Flutter Pub Get
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release --split-per-abi

      - uses: actions/upload-artifact@v4
        with:
          name: TabletKalem-APK
          path: build/app/outputs/flutter-apk/*.apk
