name: Flutter APK Build
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      # 1️⃣ Android'i GEÇİCİ projede üret
      - name: Create Android in temp project
        run: |
          rm -rf __temp_app__
          flutter create __temp_app__ --platforms=android
          rm -rf android
          mv __temp_app__/android android
          rm -rf __temp_app__

      # 2️⃣ Paketleri çek (SENİN pubspec.yaml KULLANILIR)
      - name: Flutter Pub Get
        run: flutter pub get

      # 3️⃣ APK BUILD
      - name: Build APK
        run: flutter build apk --release --split-per-abi

      - uses: actions/upload-artifact@v4
        with:
          name: TabletKalem-APK
          path: build/app/outputs/flutter-apk/*.apk
