name: Flutter APK Build
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Java Kurulumu
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Flutter Kurulumu
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Flutter Proje Kontrolü
        run: |
          if [ ! -d "android" ]; then
            flutter create . --platforms=android --project-name=tabletkalem
          fi

      - name: Flutter Pub Get
        run: flutter pub get

      - name: APK Build
        run: flutter build apk --release --split-per-abi

      - name: APK'yı Kaydet
        uses: actions/upload-artifact@v4
        with:
          name: TabletKalem-APK
          path: build/app/outputs/flutter-apk/*.apk
