name: Flutter APK Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: |
          flutter create . --platforms=android --project-name=tabletkalem
          flutter pub get
          flutter build apk --release --split-per-abi
      - name: APK Kaydet
        uses: actions/upload-artifact@v4
        with:
          name: TabletKalem-APK
          path: build/app/outputs/flutter-apk/*.apk
