name: Flutter APK Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      # Android klasörünü senin için GitHub oluştursun
      - run: |
          if [ ! -d "android" ]; then
            flutter create . --platforms=android
          fi

      - run: flutter pub get
      - run: flutter build apk --release
      
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: TabletKalem-APK
          path: build/app/outputs/flutter-apk/app-release.apk
